@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force background white everywhere */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #fff !important;
  color: #0f172a;
  font-family: 'SF Pro', system-ui, sans-serif !important;
}
.bg-f {
  background-color: #fff !important;
}

:root {
  --Primary-Color: #1866B4;
}

h1, h2 {
  font-weight: 600;
}
.ctm-50{
  font-size: 50px;
  font-weight: 500;
}
.cmd-1{
  font-size: 40px;
  font-weight: 600;
  text-align:left;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
